.visualizer {
    height: 500px;

    display: flex;

    justify-content: center;

    align-items: flex-end;

    gap: 4px;

    margin-top: 30px;
}

.array-bar {

    width: 18px;

    background: #2563eb;

    border-radius: 4px 4px 0 0;

    transition: height 0.3s;
}